# R-related stuff
*.Rproj.user
*.rds
*.Rhistory
*.Renviron
*.Rapp.history
*.RData
*.RDataTmp
*.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/

# OAuth2 token
*.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# pkgdown site
docs/

# translation temp files
po/*~
*.db

# RStudio Connect folder
rsconnect/